*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  padding: 1rem 2rem;
  width: 100%;
  height: 101vh;
  color: #fff;
  background: linear-gradient(39deg,#e50a0a,#161495,#af14a3,#240232, #7f00b2);
  background-size: 400% 400%;
  animation: createModifi 14s ease-in-out infinite;
}

.App{
  justify-content: center;
  gap: 1rem;
}

.Forms{
  padding: 1rem;
  color: #fff;
  background: linear-gradient(61deg,#100f42,#6c1065,#240232, #7f00b2);
  background-size: 400% 400%;
  animation: createModifi 15s ease-in-out infinite;
  margin: 0rem 0 auto;
}

.Forms h1{
  margin-bottom: 1rem;
}

.input_users{
  display: flex;
  gap: 1vh;
}

.input_users input{
  width: 14vh;
}

.inputs{
  margin-bottom: 5px;
}

.inputs input{
  width: 100%;
}

.colory{
  width: 100%;
  height: 50%;
  color: #fff;
  background: linear-gradient(39deg,#ff0101,#100f42,#6c1065,#240232, #7f00b2);
  background-size: 400% 400%;
  animation: createModifi 16s ease-out infinite;
  padding: 0.4vh;
  position: relative;
}

.card{
  padding: 1rem;
}

.cards_users{
  padding: 1rem 1rem;
  background-color: #f1f1f1;
  color: black;
  box-shadow: inset 9px -4em 3em rgb(0 0 0 / 10%), 
  0px 0px 0 2px rgb(0 0 0), -0.7em 0em 1em rgb(255 255 255 / 30%);
  border-radius: 25px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.card_edit{
  align-self: center;
  gap: 1rem;
  display: flex;
}

@keyframes createModifi{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

.submits{
  display: flex;
  gap: 0.5rem;
}

.buttonss{
  display: flex;
  justify-content: center;
}
/* .texto{
  animation: textos 8s ease-out infinite;
  position: absolute;
}

@keyframes textos{
  0%{margin-top: 0%}
  50%{margin-left: 78%;}
  /* 80%{top: 100%;}
} */
@media (max-width: 700px) {
  .cards_users{
    font-size: 12px;
  }
  .card_edit{
    align-self: end;
  }
  #root{
    height: 100vh;
  }
}

@media (max-width: 750px) {
  .submits{
    justify-content: center
  }
  .cards_users{
    font-size: 13px;
  }
  #root{
    padding: 1rem 1rem
  }
}

@media (min-width: 700px) {
  .App{
    display: flex;
  }
  .Forms{
    order: 1;
  }
  .colory{
    width: 50%;
  }
}
